<% if request.post? %>

  <h1>Your report of hits for <%= @name %> is being processed. Check your email.</h1>

<% else %>
  <form method="post" action="/reports/search">
    <p>
      <label>Enter the email address you would like the report sent to: </label>
      <%= email_field_tag :address, nil, placeholder: "Email Address"%><br>
      <label for="username">Search for something:  </label>
      <input type="text" id="name" name="name"></input><br>
      <button name="theButton">Search</button>
    </p>
  </form>
<% end %>
